<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Chernysheva Anastasiia Dmitrievna" />
    <meta
      name="description"
      content="Бесплатный сервис для отслеживания цен в интернет-магазине Wildberries"
    />
    <meta
      name="keywords"
      content="выгодные цены, Wildberries, Вайлдберрис, Wildberries лучшие предложения, 
      Трекинг цен и товаров онлайн, бесплатный трекинг, отслеживание цен, динамика цен, 
      оповещения о падении цен, продукт, отслеживание, цена, изменения, оповещения, 
      уведомления, уведомление, трекер, продукты, цены, наблюдение"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>О нас</title>
  </head>
  <body>
    <h1>Вся информация:</h1>
  </body>
</html>
